/build*
*.dat
*.xyz
*~
.*~
*.mod
*.o
*.lib
*.a
*.so
*.dll
*.dylib
*.exe
*.pyc
a.out
__pycache__
.*.swp
*.orig
*.rej
vgcore.*
.vagrant
\#*#
.#*
.vscode
.DS_Store
.DS_Store?
._*
.Spotlight-V100
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Makefile
.ipynb_checkpoints/

